<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.csp.CustomerAccountMapper">
    <resultMap id="confirmMap" type="com.example.car.model.pojos.czh.ConfirmCompleted">
        <id property="ccId" column="cc_id"/>
        <result property="maintenanceAmount" column="maintenance_amount"/>
        <result property="completedTime" column="completed_time"/>
        <association property="completedCarId" javaType="com.example.car.model.pojos.czh.CarMessage">
            <id property="carMessageId" column="car_message_id"/>
            <result property="carNumber" column="car_number"/>
            <result property="carType" column="car_type"/>
            <association property="carCust" javaType="com.example.car.model.pojos.czh.Customer">
                <id property="crId" column="cr_id"/>
                <result property="crName" column="cr_name"/>
            </association>
            <collection property="maintenancePickings" ofType="com.example.car.model.pojos.czh.MaintenancePicking">
                <id property="mpId" column="mp_id"/>
                <result property="pickingNum" column="picking_num"/>
                <association property="commPicking" javaType="com.example.car.model.pojos.hyj.RepeComm">
                    <id property="repeCommId" column="repe_comm_id"/>
                    <result property="repeCommName" column="repe_comm_name"/>
                    <result property="repeCommSpe" column="repe_comm_spe"/>
                    <result property="repeCommCar" column="repe_comm_car"/>
                    <result property="repeCommUnit" column="repe_comm_unit"/>
                    <result property="repeCommMoney" column="repe_comm_money"/>
                </association>
            </collection>
        </association>
        <association property="empWx" javaType="com.example.car.model.pojos.kj.Staff">
            <id column="sf_id" property="sfId"/>
            <result column="sf_name" property="sfName" />
        </association>
    </resultMap>

    <select id="selConfirm" resultMap="confirmMap">
        select * from confirm_completed cc
                          left join car_message cm on cc.completed_car_id = cm.car_message_id
                          left join customer cur on cm.customer_car_id = cur.cr_id
                          left join maintenance_dispatching md on cm.car_message_id = md.car_id
                          left join maintenance_picking mp on md.md_id = mp.md_id
                          left join repe r on mp.lp_id = r.repe_id
                          left join repe_comm rc on r.repe_comm_id = rc.repe_comm_id
                          left join staff s on cc.emp_wx = s.sf_id
    </select>
</mapper>