<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.czh.MaintenanceDispatchingMapper">
    <resultMap id="maint" type="MaintenanceDispatching">
        <id property="mdId" column="md_id"></id>
        <result property="dispatchingState" column="dispatching_state"></result>
        <result property="dispatchingTime" column="dispatching_time"></result>
        <result property="moneyMaint" column="money_maint"></result>
        <association property="carMessage" javaType="CarMessage">
            <id property="carMessageId" column="car_message_id"></id>
            <result property="carNumber" column="car_number"></result>
            <result property="carType" column="car_type"></result>
            <result property="carState" column="car_state"></result>
        </association>
        <association property="customer" javaType="Customer">
            <id property="crId" column="cr_id"></id>
            <result property="crName" column="cr_name"></result>
        </association>
        <association property="staff" javaType="Staff">
            <id property="sfId" column="sf_id"></id>
            <result property="sfName" column="sf_name"></result>
        </association>
    </resultMap>

    <select id="selectMaint" resultMap="maint">
        select * from maintenance_dispatching md inner join staff sf on md.emp_id = sf.sf_id

                                                 inner join car_message cm on cm.car_message_id = md.car_id

                                                 inner join customer cr on cr.cr_id = md.cr_id
            <where>
                <if test="maintVo.custName != null and maintVo.custName != ''">
                    and cr.cr_name like concat('%',#{maintVo.custName},'%')
                </if>
                <if test="maintVo.custEmpName != null and maintVo.custEmpName != ''">
                    and sf.sf_name like concat('%',#{maintVo.custEmpName},'%')
                </if>
                <if test="maintVo.custCarId != null and maintVo.custCarId != ''">
                    and cm.car_number like concat('%',#{maintVo.custCarId},'%')
                </if>
                <if test="maintVo.custCarType != null and maintVo.custCarType != ''">
                    and cm.car_type like concat('%',#{maintVo.custCarType},'%')
                </if>
            </where>
    </select>


    <insert id="insetMaint">
        insert into maintenance_dispatching values (null ,#{crId},#{carMessageId},#{sfId},#{State},#{paiGongTime},300)
    </insert>
</mapper>