<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.czh.MaintenancePickingMapper">
        <resultMap id="picking" type="MaintenancePicking">
            <id property="mpId" column="mp_id"></id>
            <result property="pickingNum" column="picking_num"></result>
           <association property="dispatching" javaType="MaintenanceDispatching">
               <id property="mdId" column="md_id"></id>
               <result property="dispatchingTime" column="dispatching_time"></result>
               <association property="staff" javaType="Staff">
                   <id property="sfId" column="sf_id"></id>
                   <result property="sfName" column="sf_name"></result>
               </association>
           </association>
            <collection property="commPicking" ofType="RepeComm">
                <id property="repeCommId" column="repe_comm_id"/>
                <result property="supplierName" column="supplier_name"/>
                <result property="repeCommName" column="comm_name"/>
                <result property="repeCommSpe" column="comm_spe"/>
                <result property="repeCommCar" column="comm_car"/>
                <result property="repeCommUnit" column="comm_unit"/>
                <result property="repeCommMoney" column="comm_money"/>
                <result property="repeCommNum" column="comm_num"/>
            </collection>
        </resultMap>
    <insert id="insertPick">
        insert into maintenance_picking values (null,#{mdId},#{lpId},#{pickingNum})
    </insert>

    <select id="selectPick" resultMap="picking">
        select * from maintenance_picking mp inner join repe_comm rc on mp.lp_id = rc.repe_comm_id

                                             inner join maintenance_dispatching md on mp.md_id = md.md_id

                                             inner join staff sf on sf.sf_id = md.emp_id
    </select>
</mapper>