<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.czh.MaintenancePickingMapper">
        <resultMap id="picking" type="MaintenancePicking">
            <id property="mpId" column="mp_id"></id>
            <result property="pickingNum" column="picking_num"></result>
            <association property="commPicking" javaType="RepeComm">
                <id property="repeCommId" column="repe_omm_id"></id>
                <result property="supplierName" column="supplier_name"></result>
                <result property="repeCommName" column="repe_comm_name"></result>
                <result property="repeCommSpe" column="repe_comm_spe"></result>
                <result property="repeCommMoney" column="repe_comm_money"></result>
            </association>
            <association property="dispatching" javaType="MaintenanceDispatching">
                <id property="mdId" column="md_id"></id>
                <result property="dispatchingState" column="dispatching_state"></result>
                <result property="dispatchingTime" column="dispatching_time"></result>
                <result property="moneyMaint" column="money_maint"></result>
                <result property="materialCost" column="material_cost"></result>
                <association property="carMessage" javaType="CarMessage">
                    <id property="carMessageId" column="car_message_id"></id>
                    <result property="carNumber" column="car_number"></result>
                    <result property="carType" column="car_type"></result>
                </association>
                <association property="staff" javaType="Staff">
                    <id column="sf_id" property="sfId"/>
                    <result column="sf_name" property="sfName" />
                    <result column="sf_phone" property="sfPhone" />
                    <result column="sf_card" property="sfCard" />
                    <result column="sf_state" property="sfState" />
                </association>
            </association>
        </resultMap>
    <insert id="insertPick">
        insert into maintenance_picking values (null,#{mdId},#{lpId},#{pickingNum})
    </insert>

    <select id="selectPick" resultMap="picking">
        select * from maintenance_picking mp inner join repe_comm rc on mp.lp_id = rc.repe_comm_id

                                             inner join maintenance_dispatching md on mp.md_id = md.md_id

                                             inner join staff sf on sf.sf_id = md.emp_id

                                             inner join car_message cm on cm.car_message_id = md.car_id
    </select>


    <select id="selectRe" resultType="RepeComm">
        select * from repe_comm where repe_comm_id = #{reId}
    </select>

    <update id="updateRe">
        update repe_comm set repe_comm_num = #{num} where repe_comm_id = #{repeId}
    </update>
</mapper>