<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.dai.MemberMapper">
       <resultMap id="menberResult" type="Member">
           <id property="memId" column="mem_id"></id>
           <result property="memGrade" column="mem_grade"></result>
           <result property="memBalance" column="mem_balance"></result>
           <result property="memTime" column="mem_time"></result>
           <result property="memSum" column="mem_sum"></result>
           <result property="memIntegral" column="mem_integral"></result>
           <result property="memBalancedsum" column="mem_balancedsum"></result>
           <association property="crId" javaType="com.example.car.model.pojos.czh.Customer">
               <id column="cr_id" property="crId"/>
               <result column="cr_name" property="crName"/>
               <result column="cr_phone" property="crPhone"/>
               <result column="cr_idNumber" property="crIdNumber"/>
               <result column="cr_sex" property="crSex"/>
               <result column="cr_time" property="crTime"/>
               <result column="cr_member" property="crMember"/>
           </association>
       </resultMap>
    <!--分页查询-->
    <select id="selectByChoose" resultMap="menberResult">
        select m.mem_id,
               (CASE m.mem_grade
                    WHEN  0 THEN '普通会员'
                    WHEN  1 THEN '钻石会员'
                    WHEN  2 THEN '超级会员'
                    ELSE 'null' END) AS 'mem_grade', m.mem_balance, m.mem_time, m.mem_sum, m.mem_integral,
              m.mem_balancedsum, c.cr_id,c.cr_name, c.cr_phone, c.cr_id_number, c.cr_sex, c.cr_time
        from member m left join customer c on m.mem_khid=c.cr_id
        <where>
            <if test="memGrade!=null and memGrade!=''">
                and mem_grade =#{memGrade}
            </if>
        </where>
        order by m.mem_id desc
    </select>
    <!--查询所有-->
    <select id="selectAll" resultMap="menberResult">
        select m.mem_id,
               (CASE m.mem_grade
                    WHEN  0 THEN '普通会员'
                    WHEN  1 THEN '钻石会员'
                    WHEN  2 THEN '超级会员'
                    ELSE 'null' END) AS 'mem_grade', m.mem_balance, m.mem_time, m.mem_sum, m.mem_integral,
                     m.mem_balancedsum ,c.cr_name,c.cr_id
                    from member m
                        left join customer c
                            on m.mem_khid=c.cr_id
        order by m.mem_id desc

    </select>
    <!--分页-->
    <select id="selectByChooseCus" resultType="com.example.car.model.pojos.czh.Customer">
        select cr_id, cr_name, cr_phone, cr_id_number, cr_sex, cr_time, isdelete ,cr_member from customer
    </select>

</mapper>