<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.dai.MemberMapper">
       <resultMap id="menberresult" type="Member">
           <id property="memId" column="memId"></id>
           <result property="memGrade" column="memGrade"></result>
           <result property="memBalance" column="memBalance"></result>
           <result property="memTime" column="memTime"></result>
           <result property="memSum" column="memSum"></result>
           <result property="memIntegral" column="memIntegral"></result>
           <association property="crId" javaType="com.example.car.model.pojos.czh.Customer">
               <id column="crId" property="crId"/>
               <result column="crName" property="crName"/>
               <result column="crPhone" property="crPhone"/>
               <result column="crIdNumber" property="crIdNumber"/>
               <result column="crSex" property="crSex"/>
               <result column="crTime" property="crTime"/>
           </association>
       </resultMap>

</mapper>