<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.dai.MemberMapper">
       <resultMap id="menberResult" type="Member">
           <id property="memId" column="mem_id"></id>
           <result property="memGrade" column="mem_grade"></result>
           <result property="memBalance" column="mem_balance"></result>
           <result property="memTime" column="mem_time"></result>
           <result property="memSum" column="mem_sum"></result>
           <result property="memIntegral" column="mem_integral"></result>
           <association property="crId" javaType="com.example.car.model.pojos.czh.Customer">
               <id column="cr_id" property="crId"/>
               <result column="cr_name" property="crName"/>
               <result column="cr_phone" property="crPhone"/>
               <result column="cr_idNumber" property="crIdNumber"/>
               <result column="cr_sex" property="crSex"/>
               <result column="cr_time" property="crTime"/>
           </association>
       </resultMap>
    <select id="SelectByChoose" resultMap="menberResult">
        select m.mem_id,
               (CASE m.mem_grade
                    WHEN  0 THEN '钻石会员'
                    WHEN  1 THEN '白金会员'
                    WHEN  2 THEN '至尊会员'
                    ELSE 'null' END) AS 'mem_grade', m.mem_balance, m.mem_time, m.mem_sum, m.mem_integral,
               c.cr_id,c.cr_name, c.cr_phone, c.cr_id_number, c.cr_sex, c.cr_time
        from member m left join customer c on m.mem_khid=c.cr_id
        <where>
            <if test="memGrade!=null and memGrade!=''">
                and mem_grade =#{memGrade}
            </if>
        </where>
        order by m.mem_id desc
    </select>
</mapper>