<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.hyj.PutStoreMapper">
    <resultMap id="purchase" type="com.example.car.model.pojos.hyj.Purchase">
        <id property="purId" column="pur_id"/>
        <result property="purOrder" column="pur_order"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="storeName" column="store_name"/>
        <result property="purTime" column="pur_time"/>
        <result property="sfName" column="sf_name"/>
        <result property="purPer" column="pur_per"/>
        <result property="auditTime" column="audit_time"/>
        <result property="purMoney" column="pur_money"/>
        <result property="purRemark" column="pur_remark"/>
        <result property="purName" column="pur_name"/>
        <result property="purState" column="pur_state"/>
        <collection property="purXq" ofType="com.example.car.model.pojos.hyj.PurXq">
            <id property="purXqId" column="pur_xq_id"/>
            <result property="supplierName" column="supplier_name"/>
            <result property="commName" column="comm_name"/>
            <result property="commSpe" column="comm_spe"/>
            <result property="commCar" column="comm_car"/>
            <result property="commUnit" column="comm_unit"/>
            <result property="commMoney" column="comm_money"/>
            <result property="commNum" column="comm_num"/>
            <result property="purId" column="pur_id"/>
            <result property="commSNum" column="comm_s_num"/>
        </collection>
    </resultMap>
    <select id="findPurD" resultMap="purchase">
        select * from purchase pur inner join pur_xq px
        on pur.pur_id = px.pur_id where pur.pur_state = '待收货'
    </select>
    <!--已审核的订单修改为待收货-->
    <update id="editState">
        update purchase set pur_state = '待收货' where pur_id = #{purId}
    </update>
    <!--新增入库单-->
    <insert id="addPutStore" useGeneratedKeys="true" parameterType="com.example.car.model.pojos.hyj.PutSto" keyProperty="putStoId">
        insert into put_sto(put_sto_time,put_sto_num,put_sto_name,store_name)
        values(now(),#{putSto.putStoNum},#{putSto.putStoName},#{storeName})
    </insert>
    <!--新增入库详情-->
    <insert id="addPutXq">
        insert into put_xq(supplier_name,comm_name,comm_spe,comm_car,comm_unit,comm_money,put_sto_id,comm_num)
        values
        <foreach collection="list" item="o" separator=",">
            (#{o.supplierName},#{o.commName},#{o.commSpe},#{o.commCar},#{o.commUnit},#{o.commMoney},#{putStoId},#{o.commNum})
        </foreach>
    </insert>
    <!--入库后修改状态-->
    <update id="editPutStoreState">
        update purchase set pur_state = '已收货' where pur_id = #{purId}
    </update>
    <!--<update id="editPutStoreNum">
        <foreach collection="list" item="o" separator=";">
            update repe_comm
                <set>
                    repe_comm_num = repe_comm_num + #{o.commSNum}
                </set>
            where repe_comm_name = #{o.commName} and store_id = #{storeId}
        </foreach>
    </update>-->
    <!--如果存在数据，入库后修改数量-->
    <update id="editPutStoreNum">
        update repe_comm set repe_comm_num = repe_comm_num + #{commSNum}
        where repe_comm_name = #{repeComm.commName} and store_id = #{storeId}
    </update>
    <!--如果不存在数据，入库后新增数据-->
    <insert id="addRepeComm" parameterType="com.example.car.model.pojos.hyj.RepeComm">
        insert into repe_comm(supplier_name,repe_comm_name,repe_comm_spe,repe_comm_car,repe_comm_unit,repe_comm_money,repe_comm_num,store_id)
        values (#{repeComm.supplierName},#{repeComm.commName},#{repeComm.commSpe},#{repeComm.commCar},#{repeComm.commUnit},#{repeComm.commMoney},#{commSNum},#{storeId})
    </insert>
    <!--查询仓库-->
    <select id="findStoreByName" resultType="com.example.car.model.pojos.hyj.Store">
        select * from store where store_name = #{storeName}
    </select>
    <!--去重-->
    <select id="deRepeComm" resultType="com.example.car.model.pojos.hyj.RepeComm">
        select * from repe_comm where repe_comm_name = #{commName}
    </select>
</mapper>