<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.car.model.dao.czh.CostomerMapper">

    <!--新增客户信息-->
    <insert id="insertCostomer">
        insert into costomer values (null,#{crName},#{crPhone},#{crIdNumber},#{crSex},#{crTime})
    </insert>

</mapper>